@import url("font/font.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "vazirsb";
}
:root {
  --color-primary: #cc312d;
  --color-secdory: #ffffff;
  --color-borders: #ebebeb;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
}
.dashbord {
  display: grid;
  grid-template-columns: 1fr;
}
.orders {
  background-color: #F7F7F7;
}
@media (min-width: 768px) {
  .dashbord {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
 .content-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .title-address{
  width: 100%;
  display: flex;
  justify-content: space-between;
 }
 .ostan{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .address-num{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .send{
  display: grid;
  grid-column: 1fr 1fr;
 }
 .neshan-address{
  grid-template-columns: -1/1;
 }
 .checked{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
}
@media (min-width: 1024px) {
  .dashbord {
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
   .container-input{
  display: grid;
  grid-template-columns: auto auto auto;
 }
 .content-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .checked{
  display: grid;
  grid-template-columns: auto auto;
 }
}
/* form style */
.form-title {
  padding: 2rem;
  border-bottom: 1px solid var(--color-borders);
}

.form-title h2 {
  display: inline;
}
label {
  display: block;
}
input {
  padding: 1rem 3rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border:none;
  background-color: #F7F7F7;
  outline: 0;
  text-align: center;
}
input:focus {
  border: 1px solid hsl(14, 100%, 53%);
}
select {
  padding: 1rem 0;
  width: 100%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #F7F7F7;
  border: none;
  outline: 0;
  text-align: center;
}
.txet-era {
  padding: 3rem 3rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container-input {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-borders);
}
.adding {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-borders);
}
.send-title span {
  color: var(--color-primary);
}
.adding span {
  color: var(--color-primary);
}
.bg {
  padding: 1rem 2rem;
  background-color: #e5303f1a;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
input::placeholder{
  font-family: 'vazirm';
  color: black;
}
select{
  font-family: 'vazirm';
}
label{
padding: 1rem;
}
.tipaks {
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--color-secdory);
  margin-bottom: 1rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: 1px solid var(--color-borders);
}
.tipaks:hover{
  border: 1px solid var(--color-primary);
}
.pishtaz {
  background-color: var(--color-secdory);
  padding: 1rem 2rem;
  display: flex;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: 1px solid var(--color-borders);
}
.pishtaz:hover{
  border: 1px solid var(--color-primary);
}
.checked {
  display: grid;
}
.ml{
  margin-right: 0.5rem;
}
input[radio]:focus{
  border: 1px solid var(--color-primary);
}
/* orders */
.img-p{
  padding: 1rem;
  background-color: var(--color-secdory);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.img-p img{
  width:100% ;
  height: 100%;
  aspect-ratio: 1/1;
}
.product{
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.hug{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.price-add{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.container-span{
  display: flex;
  gap: 0.3rem;
}
.container-span span{
  padding: 1rem;
  background-color: var(--color-secdory);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* adding-price-container */
.adding-price-container{
  width: 100%;
  background-color: var(--color-secdory);
  padding: 2rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.order-u{
display: flex;
justify-content: space-between;
padding: 1rem;
}
.send-u{
display: flex;
justify-content: space-between;
padding: 1rem;

}
.pardat{
display: flex;
justify-content: space-between;
padding: 1rem;
}
/* payment */
.payment{ background-color: var(--color-secdory); padding: 2rem; border-radius:15px ; -webkit-border-radius:15px ; -moz-border-radius:15px ; -ms-border-radius:15px ; -o-border-radius:15px ;
}
.logo-pay{
display: flex;
justify-content: center;
align-items: center;
column-gap: 1rem;
}
/* btn */
.btn{
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-primary);
  color: #F7F7F7;
  border: none;
  border-radius: 44px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
}
