@font-face {
  font-family: "vazirb";
  src: url("/font/Vazirmatn-RD-FD-Black.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "vazirm";
  src: url("/font/Vazirmatn-RD-FD-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "vazirsb";
  src: url("/font/Vazirmatn-RD-FD-SemiBold.woff2") format("woff2");
}
body {
  font-family: "vazirm";
}
